@model Top_Rooftop_project.ModelVm.FarmerVm
@{
}

<div>
    <h1>@Model.Id</h1>
    <h1>@Model.Name</h1>
    <h1>@Model.Email</h1>
    <h1>@Model.SquarFeet</h1>
    <h1>@Model.Location</h1>
    <h1><img class="img-thumbnail" width="50" src="~/Image/@Model.Image1" /></h1>
    <h1><img class="img-thumbnail" width="50" src="~/Image/@Model.Image2" /></h1>
    <h1><img class="img-thumbnail" width="50" src="~/Image/@Model.Image3" /></h1>
    <h1>@Model.GoogleMap</h1>
    <h1>@Model.SomeDetails</h1>
    <h1>@Model.MoreDetails</h1>
    <h1>@Model.Price</h1>
</div>
