@model IEnumerable<Top_Rooftop_project.ModelVm.UserVm>
@{
    int idNo = 1;

}
<a asp-action="CreateOrEdit" asp-controller="User">Input</a>

<table class="table table-bordered table-dark" id="UserTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@idNo</td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>
                    <a asp-action="CreateOrEdit" asp-controller="User" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                    <a asp-action="Delted" asp-controller="User" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are You Sure Delted this')">Delted</a>
                    <a asp-action="Details" asp-controller="User" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                </td>
            </tr>
            idNo++;
        }
    </tbody>
</table>

@section Scripts {
    <script>
        new DataTable('#UserTable');
    </script>
}


